In [12]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [13]:
small = "./datasets/github_dataset.csv"
large = "./datasets/repository_data.csv"

large_df = pd.read_csv(large)
large_df.head()

,name,stars_count,forks_count,watchers,pull_requests,primary_language,languages_used,commit_count,created_at,licence
0,freeCodeCamp,359805,30814,8448,31867,TypeScript,"['TypeScript', 'JavaScript', 'CSS', 'Shell', '...",32231.0,2014-12-24T17:49:19Z,"BSD 3-Clause ""New"" or ""Revised"" License"
1,996.ICU,264811,21470,4298,1949,NaN,NaN,3189.0,2019-03-26T07:31:14Z,Other
2,free-programming-books,262380,53302,9544,8235,NaN,NaN,8286.0,2013-10-11T06:50:37Z,Other
3,coding-interview-university,244927,65038,8539,867,NaN,NaN,2314.0,2016-06-06T02:34:12Z,Creative Commons Attribution Share Alike 4.0 I...
4,awesome,235223,24791,7446,1859,NaN,NaN,1074.0,2014-07-11T13:42:37Z,Creative Commons Zero v1.0 Universal

In [14]:
large_df.dtypes.sort_values()

stars_count           int64
forks_count           int64
watchers              int64
pull_requests         int64
commit_count        float64
name                 object
primary_language     object
languages_used       object
created_at           object
licence              object
dtype: object

In [15]:
large_df.isnull().sum()[large_df.isnull().sum() > 0]

name                     12
primary_language     218573
languages_used       221984
commit_count           1921
licence             1378200
dtype: int64

In [16]:
large_df.size

29179510

In [17]:
large_df['licence'].fillna('None', inplace=True)
large_df = large_df.dropna()

In [29]:
large_df.size

26959500

In [ ]:
# show top 5 primary languages
for l in large_df['primary_language'].unique():
    cnt = large_df[large_df['primary_language'] == l].size
    print(l, cnt)

In [34]:
large_df['primary_language'].unique().size

497